/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/public/pink/images/articles/*.png
/public/pink/images/articles/*.jpg
/public/pink/images/portfolios/*.png
/public/pink/images/portfolios/*.jpg
/public/pink/images/sliders/*.png
/public/pink/images/sliders/*.jpg
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
